<component name="ArtifactManager">
  <artifact type="exploded-war" name="springMVC-06-json:Web exploded">
    <output-path>$PROJECT_DIR$/out/artifacts/springMVC_06_json_Web_exploded</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="springMVC-06-json/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="springMVC-06-json" />
        </element>
      </element>
    </root>
  </artifact>
</component>